* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish";
}

:root {
  --white: #F9F4FB;
  --titles: #B52184;
  --text: #312D64;
  --background: #343193;
  font-family: "Mulish";
}

body {
  position: relative;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  
  padding-bottom: 100px;
  position: sticky;
  top: 0;
  z-index: -8;
  /* height: 100vh; */
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header img:first-child {
  width: 100%;
  max-width: 800px;
  padding: 0px 35px;
}

header img:last-child {
  animation: mov 800ms linear infinite alternate;
  width: 10%;
}

h1 {
  color: var(--titles);
  font-size: 32px;
  font-weight: 900;
  margin-top: 20px;
}

header p {
  color: var(--text);
  font-size: 20px;
  /* margin-bottom: 20px; */
  font-weight: 600;
}

main {
  background-color: var(--background);
  padding: 40px 50px;
  display: grid;
  grid-column: 1fr;
  row-gap: 50px;

}

.card {
  background-color: var(--white);
  border-radius: 20px;
  padding: 30px;
}

.card h2 {
  color: var(--titles);
  font-size: 30px;
  margin: 30px 0px 20px;
  font-weight: 900;
}

.card p {
  color: var(--text);
  font-size: 16px;
  font-weight: 600;
}

aside {
  background-color: var(--white);
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

form input {
  padding: 12px 5px;
  border-radius: 16px;
  border: none;
  outline: none;
  background-color: var(--white);
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

textarea {
  padding: 12px 16px;
  border-radius: 16px;
  background-color: var(--white);
  border: 1.5px solid var(--text);
  width: 100%;
  height: 110px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.input-wrapper {
  width: 100%;
  border-radius: 16px;
  border: 1.5px solid var(--text);
  display: flex;
  justify-content: center;
}

.input-wrapper label {
  display: flex;
  justify-content: center;
  padding: 5px;
}

button {
  background-color: var(--background);
  color: var(--white);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  border: none;
  border-radius: 16px;
  width: 100%;
  padding: 16px;
}

button:hover {
  background-color: #342bd2;
  cursor: pointer;
}

footer {
  background-color: var(--background);
  color: var(--white);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  padding: 20px 0px;
}



.back {
  display: none;
}

@media (min-width: 900px) {
  header {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  header h1 {
    font-size: 58.287px;
  font-style: normal;
  font-weight: 900;
  }

  header p {
    font-size: 32px;
  font-style: normal;
  font-weight: 600;
  }

  header div {
    align-items: start;
    gap: 200px;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
  }

  aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
  
  form {
    margin-top: 30px;
    width: 200%;
  }
  
  main, aside {
    padding: 50px 100px;
  }
  
  .back {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0px;
    display: block;
  }
}

@keyframes mov {
  0% {
    transform: translateY(50px);
  }

  80% {
    transform: translateY(80px);
  }

  90% {
    transform: translateY(65px);
  }

  100% {
    transform: translateY(80px);
  }
}